
 <link rel="stylesheet" href="/stylesheets/index.css">
 <div class="container">
    <div class="content">
        <h1>Cinema Ironhack</h1>
        <a href="/movies"><button class"view" type="submit">
            Check the movies
            </button></a>
    </div>
 </div>